body,
html {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  color: #eff1f4;
  font-weight: 500;
  overflow: hidden;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#temp {
  font-size: 1.2em
}

.link {
  font-size: 1em;
  color: black;
}

#footer {
  font-size: 1.8em;
  padding: 15px;
}

.bg {
  background-image: url("https://wallpapersite.com/images/wallpapers/miui-8-2560x1440-rainy-weather-background-minimal-hd-10471.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-size: 4em;
  font-weight: 300;
  color: black;
}

p {
  font-size: 2em;
}

a {
  font-size: 2em;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.border {
  border: 2px solid #306a9e;
  border-radius: 20px;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.3);
}

.location {
  color: #f8512f;
}
